<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="implan" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Redirect" url="https://www.implanchihuahua.gob.mx/{R:1}" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_POST}" pattern="^[^www]" />
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
        <httpRedirect enabled="false" destination="https://www.implanchihuahua.gob.mx" />
    </system.webServer>
</configuration>
