    body {
      background: #FFFFFF;
      font-family: 'Roboto', sans-serif;
    }

   /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}  
a.trans1:link {
    color: #2999B8;
    background-color: transparent;
    text-decoration: none;
}
a.trans1:visited {
    color: #456BA7;
    background-color: transparent;
    text-decoration: none;
}
a.trans1:hover {
    color: lightgray;
    background-color: transparent;
    text-decoration: none;
}
a.trans1:active {
    color: #606062;
    background-color: transparent;
    text-decoration: none;
}

a.trans:link {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
}
a.trans:visited {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
}
a.trans:hover {
    color: lightgray;
    background-color: transparent;
    text-decoration: none;
}
a.trans:active {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
}    

/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
   margin-bottom:1rem;
}

.navbar .dropdown-menu {
  border:none;
  background-color:#0060c8!important;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
  
  /* remove the padding from the navbar so the dropdown hover state is not broken */
.navbar {
  padding-top:0px;
  padding-bottom:0px;
}

/* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
.navbar .nav-item {
  padding:.5rem .5rem;
  margin:0 .25rem;
}

/* makes the dropdown full width  */
.navbar .dropdown {position:static;}

.navbar .dropdown-menu {
  width:100%;
  left:0;
  right:0;
/*  height of nav-item  */
  top:45px;
}
  
  /* shows the dropdown menu on hover */
.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
  display:block!important;
}
  
  .navbar .dropdown-menu {
    border: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
  }
}
